version: '3.8'

services:
  app:
    build: .
    ports:
      - "${APP_PORT}:${APP_PORT}"
    environment:
      - APP_ENV=production
      - SERVER_PORT=:${APP_PORT}
      # Строка подключения к БД внутри Docker-сети.
      # Используем имя сервиса 'db' в качестве хоста.
      - DATABASE_DSN=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}?sslmode=disable
    depends_on:
      - db

  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      # Пробрасываем порт, чтобы можно было подключиться к БД с хост-машины
      - "${POSTGRES_PORT}:5432"
    volumes:
      # Сохраняем данные БД между перезапусками
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: